@font-face {
  font-family: "Intertight";
  src: url("/media/fonts/InterTight-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Intertight";
  src: url("/media/fonts/InterTight-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "PPNeueBit";
  src: url("/media/fonts/PPNeueBit-Bold.woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --headerHeight: 3.5rem;
}
@media (min-width: 768px) {
  :root {
    --headerHeight: 5.125rem;
  }
}

html {
  font-size: calc(0.625rem + 0.4166666667vw);
}
@media (max-width: 1920px) {
  html {
    font-size: calc(0.625rem + 0.4166666667vw);
  }
}
@media (max-width: 1440px) {
  html {
    font-size: calc(0.625rem + 0.4166666667vw);
  }
}
@media (max-width: 479px) {
  html {
    font-size: calc(0.7494769874rem + 0.8368200837vw);
  }
}

body {
  overflow-x: hidden;
  font-family: "Intertight", sans-serif;
  font-weight: 400;
}

.max-width-container {
  max-width: 76rem;
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .max-width-container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1216px) {
  .max-width-container {
    width: 100%;
    padding: 0;
  }
  .max-width-container .header > div {
    padding: 0;
  }
}

.invert-img {
  filter: invert(1);
}

@keyframes raiseUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  41% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: white;
  height: var(--headerHeight);
  width: 100%;
  top: 0;
  padding: 0.5rem 0;
  z-index: 100;
}
@media (min-width: 768px) {
  .header {
    padding: 1rem 1.5rem;
  }
}
.header > div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: auto;
  min-height: 3rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .header > div {
    min-height: 0;
  }
}
@media (max-width: 767px) {
  .header > div {
    padding: 0 1rem;
  }
}
.header .logo-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .header .logo-div > img {
    height: 1.45rem;
    width: auto;
  }
}
.header .header-navigation {
  display: none;
}
@media (min-width: 1205px) {
  .header .header-navigation {
    display: flex;
  }
}
.header .header-navigation > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-navigation > nav:has(a:hover) a:not(:hover) {
  color: rgb(73, 73, 73);
  opacity: 0.8;
  transition: color 0.2s, opacity 0.2s;
}
.header .header-navigation > nav > a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  font-family: "InterTight", sans-serif;
  display: inline;
  text-align: start;
  padding: 0 1rem;
  color: rgb(41, 41, 41);
  transition: color 0.2s, opacity 0.2s;
}
.header #header-buttons-div {
  display: flex;
  height: 100%;
  gap: 0.6rem;
}
.header > img {
  height: 1.5rem;
}
.header #header-req-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "InterTight", sans-serif;
  line-height: 150%;
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  gap: 0.625rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}
@media (max-width: 480px) {
  .header #header-req-button {
    display: none;
  }
}
.header #header-req-button .arrow-raise-container {
  width: 1.25rem;
  height: auto;
  padding: 0.25rem;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.header #header-req-button .arrow-raise-container > .arrow-raise {
  width: 100%;
  height: 100%;
  display: block;
  transition: none;
  transform: translateY(0);
  opacity: 1;
  animation: none;
}
.header #dropdown-menu-button {
  justify-content: center;
  align-content: end;
  border: 1px solid black;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
}
@media (min-width: 1205px) {
  .header #dropdown-menu-button {
    display: none;
  }
}
.header #dropdown-menu-button > img {
  height: 1.5rem;
  width: 1.5rem;
}

.header-dropdown-navigation {
  display: flex;
  justify-content: center;
  align-self: center;
  position: fixed;
  top: var(--headerHeight);
  background-color: white;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 0.2s ease;
  opacity: 1;
  pointer-events: none;
  z-index: 10;
  padding: 0 0 1rem 0;
  border-radius: 0 0 10px 10px;
}
@media (min-width: 1205px) {
  .header-dropdown-navigation {
    display: none;
  }
}
.header-dropdown-navigation > nav {
  display: flex;
  flex-direction: column;
  opacity: 1;
  align-items: left;
  pointer-events: auto;
  width: 13rem;
  padding-top: 1rem;
}
.header-dropdown-navigation > nav > div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding: 0;
}
.header-dropdown-navigation > nav > div > a {
  display: flex;
  gap: 1rem;
  max-width: 90%;
}
.header-dropdown-navigation > nav > a {
  display: block;
  text-align: start;
  padding: 1.125rem 2rem 1.125rem 1rem;
  color: rgb(41, 41, 41);
  font-size: 1.125rem;
  text-decoration: none;
  font-family: "InterTight", sans-serif;
  font-weight: 500;
}
.header-dropdown-navigation #header-req-button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "InterTight", sans-serif;
  line-height: 150%;
  text-decoration: none;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}
@media (min-width: 480px) {
  .header-dropdown-navigation #header-req-button {
    display: none;
  }
}
.header-dropdown-navigation.open {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.footer {
  display: block;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 4.5rem;
}
@media (min-width: 1024px) {
  .footer > div {
    display: flex;
    justify-content: space-between;
    min-width: 76rem;
    margin-bottom: 8rem;
  }
}
@media (min-width: 480px) {
  .footer > div {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
.footer > div > div {
  display: flex;
  flex-direction: column;
}
.footer > div > div h4 {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.675rem;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  .footer > div > div h4 {
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 1536px) {
  .footer > div > div h4 {
    margin-bottom: 0.85rem;
  }
}
.footer > div > div p {
  font-size: 1rem;
  line-height: 155%;
  color: rgb(129, 129, 129);
  margin-bottom: 0.675rem;
}
.footer > div > div #img-div {
  width: 3.95rem;
}
@media (min-width: 768px) {
  .footer > div > div #img-div {
    width: 4rem;
  }
}
.footer > div > div #margin-para {
  margin-bottom: 1.75rem;
}
@media (min-width: 768px) {
  .footer > div > div #margin-para {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1545px) {
  .footer > div .wide-col {
    width: 18rem;
    gap: 0.3rem;
  }
}
@media (min-width: 1536px) {
  .footer > div .wide-col {
    width: 19rem;
    gap: 0.1rem;
  }
}
@media (min-width: 768px) and (max-width: 1545px) {
  .footer > div .short-col {
    width: 16rem;
    gap: 0.25rem;
  }
}
@media (min-width: 1536px) {
  .footer > div .short-col {
    width: 16rem;
    gap: 0.05rem;
  }
}
.footer img {
  display: block;
  width: 100%;
  height: auto;
}

.scroll-bar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: auto;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  padding: 3rem 0;
  margin-bottom: 3rem;
  z-index: 2;
}
.scroll-bar-section div {
  display: flex;
}
.scroll-bar-section > .scroll-bar-slider {
  overflow: hidden;
}
.scroll-bar-section > .scroll-bar-slider > .scroll-bar-track {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}
.scroll-bar-section > .scroll-bar-slider > .scroll-bar-track > img {
  display: inline;
  width: 5rem;
  margin: 0 2rem;
  object-fit: contain;
}
@media (min-width: 867px) {
  .scroll-bar-section > .scroll-bar-slider > .scroll-bar-track > img {
    width: 7rem;
    margin: 0 2.5rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.contact-us-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 5rem 1rem;
  background-color: rgb(1, 226, 85);
  border-radius: 15px;
}
@media (min-width: 768px) {
  .contact-us-section {
    margin: 0 1.5rem 8rem 1.5rem;
  }
}
.contact-us-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.5rem auto;
}
@media (min-width: 768px) {
  .contact-us-section > div {
    display: inline-block;
    margin: 7rem 0;
  }
}
.contact-us-section > div > h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
}
@media (min-width: 768px) {
  .contact-us-section > div > h2 {
    font-size: 3rem;
    line-height: 115%;
    text-align: left;
    max-width: 50%;
    margin-bottom: 1.125rem;
  }
}
.contact-us-section > div > h2 > span {
  font-family: "PPNeueBit", sans-serif;
  font-size: 145%;
  letter-spacing: -0.5px;
}
@media (min-width: 768px) {
  .contact-us-section > div > h2 > span {
    font-size: 155%;
  }
}
.contact-us-section > div > p {
  display: inline-block;
  font-size: 0.75em;
  font-family: Intertight, sans-serif;
  font-weight: 300;
  border: 1px solid black;
  border-radius: 100px;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}
@media (min-width: 768px) {
  .contact-us-section > div > p {
    font-size: 0.75rem;
    padding: 0.45rem 0.75rem;
  }
}
.contact-us-section > div > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.55rem 0.5rem 0.55rem 1.2rem;
  gap: 2rem;
}
@media (min-width: 768px) {
  .contact-us-section > div > button {
    font-size: 1rem;
    gap: 1.75rem;
  }
}
.contact-us-section > div > button .arrow-raise-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 50%;
  padding: 0.25rem;
  overflow: hidden;
}
.contact-us-section > div > button .arrow-raise-container img {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 auto;
}

.use-cases-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .use-cases-section {
    margin-bottom: 2rem;
  }
}
.use-cases-section h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
}
@media (min-width: 768px) {
  .use-cases-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.use-cases-section .content-div {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  text-align: left;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-bottom: 0.875rem;
}
@media (min-width: 768px) {
  .use-cases-section .content-div {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin-bottom: 2rem;
  }
}
.use-cases-section .content-div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  margin: 1rem;
}
@media (min-width: 768px) {
  .use-cases-section .content-div > div {
    width: 50%;
    margin: 1.5rem;
    padding: 1rem 0 0 0;
  }
}
.use-cases-section .content-div > div h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .use-cases-section .content-div > div h3 {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }
}
.use-cases-section .content-div > div p {
  font-size: 1rem;
  line-height: 155%;
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .use-cases-section .content-div > div p {
    font-size: 1.125rem;
    line-height: 155%;
  }
}
.use-cases-section .content-div > img {
  height: 12rem;
  width: auto;
  justify-content: center;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .use-cases-section .content-div > img {
    height: 20rem;
    width: auto;
    margin: 1.5rem 3.5rem 1.5rem 0;
  }
}
@media (min-width: 768px) {
  .use-cases-section #flip {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .use-cases-section #flip > img {
    height: 20rem;
    margin-left: 3.75rem;
    margin-right: 5rem;
  }
}

.hero-section {
  display: block;
  background-color: white;
  justify-items: center;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
    padding: 13rem 0 7rem 0;
  }
}
.hero-section .hero-title-div {
  display: block;
  z-index: 3;
  padding: 7.5rem 0 5rem 0;
}
@media (min-width: 768px) {
  .hero-section .hero-title-div {
    padding: 0;
    width: 71%;
  }
}
.hero-section .hero-title-div h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 0.8rem;
}
@media (max-width: 768px) {
  .hero-section .hero-title-div h1 {
    font-size: 2.5rem;
  }
}
.hero-section .hero-title-div p {
  font-size: 1.125rem;
  letter-spacing: -0.2px;
  line-height: 1.5;
  padding-right: 1rem;
  z-index: 2;
  font-family: Intertight, sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .hero-section .hero-title-div p {
    font-size: 1rem;
  }
}
.hero-section .video-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: visible;
  overflow-x: visible;
  z-index: 0;
}
@media (max-width: 768px) {
  .hero-section .video-div {
    padding-top: 1rem;
    padding-bottom: 6rem;
  }
}
.hero-section .video-div video {
  position: absolute;
  pointer-events: none;
  object-fit: cover;
  z-index: 0;
  width: 110%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero-section .video-div video {
    width: 165%;
    left: -28%;
  }
}
@media (min-width: 1536px) {
  .hero-section .video-div video {
    width: 200%;
    left: -38%;
    bottom: -38%;
  }
}

.summup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 13rem 0 14rem 0;
}
@media (max-width: 768px) {
  .summup-section {
    margin: 8rem 0 5.5rem 0;
  }
}
.summup-section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .summup-section > div {
    width: 50rem;
    padding: 0;
  }
}
.summup-section > div h2 {
  color: black;
  font-size: 4rem;
  font-weight: 500;
  line-height: 118%;
}
@media (max-width: 768px) {
  .summup-section > div h2 {
    font-size: 3rem;
  }
}
.summup-section > div h2 > span > span {
  font-family: "PPNeueBit", sans-serif;
  font-size: 5.5rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .summup-section > div h2 > span > span {
    font-size: 4.5rem;
  }
}

.uni-layer-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 6em;
  z-index: 2;
}
@media (min-width: 768px) {
  .uni-layer-section {
    margin-bottom: 8rem;
  }
}
.uni-layer-section .background {
  width: 110%;
  overflow-x: hidden;
  z-index: 0;
}
@media (min-width: 768px) {
  .uni-layer-section .background {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    top: 2%;
    pointer-events: none;
  }
}
.uni-layer-section .title-div {
  display: block;
  justify-items: center;
  text-align: center;
  z-index: inherit;
}
@media (min-width: 768px) {
  .uni-layer-section .title-div {
    margin-bottom: 3.5rem;
  }
}
.uni-layer-section .title-div h2 {
  font-size: 2.25rem;
  font-weight: 500;
  color: black;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .uni-layer-section .title-div h2 {
    font-size: 2.5rem;
    padding-bottom: 1.25rem;
  }
}
.uni-layer-section .title-div p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(20, 20, 20);
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .uni-layer-section .title-div p {
    font-size: 1.125rem;
    line-height: 1.9rem;
    max-width: 50%;
    margin-bottom: 0;
    word-spacing: 1px;
  }
}
.uni-layer-section .main-div {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 4rem;
  z-index: inherit;
}
@media (min-width: 480px) {
  .uni-layer-section .main-div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .uni-layer-section .main-div {
    grid-template-columns: repeat(4, 1fr);
  }
}
.uni-layer-section .content-div {
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background: white;
}
@media (min-width: 768px) {
  .uni-layer-section .content-div {
    padding: 1.5rem;
    border-radius: 20px;
  }
}
.uni-layer-section .content-div h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.15rem;
}
@media (min-width: 768px) {
  .uni-layer-section .content-div h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.uni-layer-section .content-div p {
  font-size: 1rem;
  line-height: 155%;
  color: rgb(30, 29, 29);
  font-weight: 400;
}
@media (min-width: 768px) {
  .uni-layer-section .content-div p {
    font-size: 1.125rem;
  }
}
.uni-layer-section .button-div {
  display: flex;
  justify-content: center;
}
.uni-layer-section .button-div button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50px;
  margin-left: auto;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  gap: 1.8rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .uni-layer-section .button-div button {
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1.125rem;
    gap: 2rem;
  }
}
.uni-layer-section .button-div button #uni-layer-arrow {
  background: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .uni-layer-section .button-div button #uni-layer-arrow {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.uni-layer-section .button-div button #uni-layer-arrow .arrow-raise-container {
  width: 1.25rem;
  height: auto;
  padding: 0.25rem;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.uni-layer-section .button-div button #uni-layer-arrow .arrow-raise-container .arrow-raise {
  display: block;
  width: 100%;
  height: 100%;
  transition: none;
  transform: translateY(0);
  opacity: 1;
  animation: none;
}

.compliance-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .compliance-section {
    padding-bottom: 8rem;
  }
}
.compliance-section .title-div {
  justify-items: center;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 0.8;
}
@media (min-width: 768px) {
  .compliance-section .title-div {
    margin-bottom: 4rem;
  }
}
.compliance-section .title-div h2 {
  font-size: 2.225rem;
  line-height: 120%;
  font-weight: 500;
}
@media (min-width: 768px) {
  .compliance-section .title-div h2 {
    font-size: 2.5rem;
    max-width: 60%;
  }
}
.compliance-section .data-div {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
@media (min-width: 768px) {
  .compliance-section .data-div {
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
  }
}
.compliance-section .data-div > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 767px) {
  .compliance-section .data-div > div {
    width: 80%;
  }
}
.compliance-section .data-div > div p {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .compliance-section .data-div > div p {
    font-size: 1.125rem;
    margin-bottom: 0.45rem;
  }
}
.compliance-section .data-div > div img {
  width: 100%;
  max-width: 35rem;
  max-height: 35rem;
}
@media (min-width: 768px) {
  .compliance-section .data-div > div img {
    max-width: 40rem;
    max-height: 40rem;
  }
}