@font-face {
  font-family: "Intertight";
  src: url("/media/fonts/InterTight-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Intertight";
  src: url("/media/fonts/InterTight-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "PPNeueBit";
  src: url("/media/fonts/PPNeueBit-Bold.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --headerHeight: 3.5rem;
  @media (min-width: 768px) {
    --headerHeight: 5.125rem;
  }
}

html {
  font-size: calc(0.625rem + 0.41666666666666663vw);

  @media (max-width: 1920px) {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
  @media (max-width: 1440px) {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
  @media (max-width: 479px) {
    font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
  }
}

body {
  overflow-x: hidden;
  font-family: "Intertight", sans-serif;
  font-weight: 400;
}

.max-width-container {
  max-width: 76rem;
  padding: 0 1rem;
  width: 100%;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1216px) {
    width: 100%;
    padding: 0;

    .header > div {
      padding: 0;
    }
  }
}

.invert-img {
  filter: invert(1);
}
