body {
  padding-top: 9rem;

  @media (max-width: 768px) {
    padding-top: 7.5rem;
  }
}

.hero-section {
  padding: 0 1rem;

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: 100%;
    gap: 0rem;
  }
}

.hero-section img {
  max-width: 90%;
  margin-bottom: 1.75rem;

  @media (min-width: 768px) {
    height: 26rem;
    justify-self: end;
    margin-right: 4rem;
    margin-bottom: 0rem;
    object-position: 100% 100% 50% 50%;
  }
}

.hero-section h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 125%;
  @media (min-width: 768px) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.hero-section p {
  font-size: 1rem;
  word-spacing: 0.5px;
  line-height: 155%;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    word-spacing: 1px;
  }
}

.hero-section div {
  @media (min-width: 768px) {
    max-width: 65%;
  }
}

.hero-section span {
  font-size: 139.2%;
  font-family: "PPNeueBit", sans-serif;

  @media (min-width: 768px) {
    font-size: 150%;
  }
}

.scroll-bar-section {
  border: none;
  padding: 3rem 0;
  margin-bottom: 0;

  @media (min-width: 768px) {
    padding: 1.5rem 0;
  }
}

.scroll-bar-section img {
  width: 5rem;
  margin: 0 2rem;
  @media (min-width: 768px) {
    width: 7rem;
    margin: 2.5rem;
  }
}

.use-cases-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.5rem;

  @media (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.use-cases-section h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.9rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.use-cases-content-div {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  text-align: left;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-bottom: 0.875rem;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin-bottom: 2rem;
  }
}

.use-cases-content-div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  margin: 1rem;

  @media (min-width: 768px) {
    width: 48%;
    margin: 1.5rem;
  }
}

.use-cases-content-div h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }
}

.use-cases-content-div p {
  font-size: 1rem;
  line-height: 155%;
  margin-bottom: 0.75rem;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 155%;
  }
}

.use-cases-content-div img {
  height: 12rem;
  width: auto;
  justify-content: center;
  margin: 0.5rem 0;

  @media (min-width: 768px) {
    height: 20rem;
    width: auto;
    margin: 1.5rem 3.5rem 1.5rem 0;
  }
}

#flip {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

#flip > img {
  height: 16rem;

  @media (min-width: 768px) {
    height: 20rem;
    margin-left: 3.75rem;
    margin-right: 4.5rem;
  }
}

#flip > div {
  @media (min-width: 768px) {
    margin: 1.5rem 1rem 1.5rem 1.5rem;
  }
}

.short-width-para {
  @media (min-width: 768px) {
    width: 99%;
  }
}

.problem-section {
  position: relative;
  margin-bottom: 7rem;
  z-index: 0;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding-bottom: 3rem;
  }
}

.problem-section-div {
  text-align: center;
  margin-bottom: 3rem;
  z-index: 1;

  @media (min-width: 768px) {
    margin-bottom: 8rem;
  }
}

.problem-section-div > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  z-index: 1;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.problem-section-div p {
  display: inline-block;
  font-size: 0.75rem;
  font-family: "Intertight", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0 0 1rem 0;
  padding: 0.35rem 0.715rem 0.4rem 0.715rem;
  border: 1px solid black;
  border-radius: 100px;
  z-index: 1;

  @media (min-width: 768px) {
    font-size: 0.75rem;
    padding: 0.4rem 0.75rem 0.4rem 0.75rem;
    margin-bottom: 1rem;
    margin-bottom: 0.75rem;
  }
}

.problem-section-div span {
  font-size: 2.25rem;
  font-family: "PPNeueBit", sans-serif;
  font-weight: 400;
  z-index: 1;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

#problem-section-div-description {
  font-size: 0.925rem;
  font-family: "Intertight", sans-serif;
  font-weight: 400;
  line-height: 155%;
  border: none;
  z-index: 1;
  padding: 0;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    letter-spacing: 0;
    width: 35rem;
    margin: 0 auto;
  }
}

.problem-content-div > img {
  width: 1.25rem;
  margin-bottom: 1.75rem;
}

.problem-content-div > p {
  font-size: 1rem;
  line-height: 155%;
  margin-bottom: 2.25rem;
  z-index: 1;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 155%;
    width: 100%;
    margin: 0 auto;
  }
}

.problem-content-div {
  z-index: 1;
  @media (min-width: 768px) {
    width: 27%;
  }
}

.problem-content-divs {
  z-index: 1;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: 69rem;
    gap: 5rem;
  }
}

.background {
  display: inline-block;
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  z-index: -1;
  pointer-events: none;

  @media (min-width: 768px) {
    top: 12%;
    height: auto;
  }
}

.itr-section {
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    gap: 2rem;
    margin-bottom: 0;
    padding-bottom: 12rem;
  }
}

.itr-div {
  border-bottom: 1px lightgray solid;
  padding: 1.75rem 0 3rem 0;

  @media (min-width: 768px) {
    padding: 2rem 0 3rem 0;
  }
}

.itr-big-div {
  border-top: 1px lightgray solid;

  @media (min-width: 768px) {
    padding: 2rem 2rem;
    border: 1px lightgray solid;
    border-radius: 20px;
    width: 95%;
  }
}

.itr-small-div {
  padding-bottom: 1.75rem;
  cursor: pointer;

  @media (min-width: 768px) {
    padding-bottom: 2.475rem;
    border: none;
  }
}

.itr-small-divs {
  @media (min-width: 768px) {
    flex: 0 0 28%;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    padding: 0 2rem;
  }
}

.itr-div > h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.55rem;
  margin-top: 1rem;

  @media (min-width: 768px) {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

#itr-small-div h2 {
  @media (min-width: 768px) {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.itr-div > p {
  font-size: 1rem;
  color: gray;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

.itr-div:hover .arrow-raise {
  animation: raiseUp 0.3s forwards;
}

.itr-div:not(:hover) .arrow-raise {
  animation: lowerDown 0.3s forwards;
}

#itr-div-yellow:hover {
  cursor: pointer;
  background-color: yellow;
  animation: fadeInYellow 0.2s;
}

#itr-div-yellow:not(:hover) {
  background-color: transparent;
  animation: fadeOutYellow 0.2s;
}

@keyframes fadeInYellow {
  from {
    background-color: transparent;
  }
  to {
    background-color: yellow;
  }
}

@keyframes fadeOutYellow {
  from {
    background-color: yellow;
  }
  to {
    background-color: transparent;
  }
}

.quotes-section {
  position: relative;
  height: 25rem;
  margin: 0 1rem;
  margin-top: 8rem;
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    width: 47.625rem;
    height: 40rem;
    margin: 0 auto;
    margin-bottom: 12rem;
  }
}

.quote-div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 23rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease, visibility 0.25s ease;
  pointer-events: none;
}

.quote-div.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.quote-div img {
  filter: invert(74%) invert(74%) sepia(97%) saturate(749%) hue-rotate(86deg)
    brightness(131%) contrast(101%);
}

.quote-div #first-quote-img {
  display: none;

  @media (min-width: 768px) {
    display: inline;
    height: 2rem;
    transform: translate(-140%, 120%);
  }
}

.quote-div #second-quote-img {
  height: 2rem;
  justify-content: end;
  margin-bottom: 0.8rem;
  transform: rotate(180deg);

  @media (min-width: 768px) {
    height: 2rem;
    margin-bottom: 5.65rem;
    transform: rotate(180deg);
  }
}

.quote-div h3 {
  font-size: 1.5rem;
  line-height: 125%;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    word-spacing: 0px;
  }
}

.quote-div .second-img-div {
  display: flex;

  justify-content: end;
}

.quote-div .quoter-div {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  @media (min-width: 768px) {
    gap: 0.5rem;
  }
}

.quote-div p {
  font-size: 1rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

.quote-div #job-para {
  color: gray;
}

.quote-div #company-para {
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.quotes-section .buttons-div {
  position: absolute;
  bottom: 0;
  right: 20%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  @media (min-width: 768px) {
    right: 30%;
    gap: 0.75rem;
    transform: translateX(200%);
  }
}

.quotes-section .buttons-div button {
  border-radius: 100px;
  border: none;
  padding: 0.3rem 0.45rem;
  align-items: center;
  justify-items: center;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 0.5rem 0.7rem;
  }
}

.buttons-div .arrow-img {
  height: 1.5rem;
}

.buttons-div .rotate {
  transform: rotate(180deg);
}

.value-section {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: none;
  }
}

.value-section .title-div {
  margin-bottom: 1rem;
}

.value-section .title-div div {
  display: inline;
  font-size: 0.75rem;
  font-family: "Intertight", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.35rem 0.7rem;
  border: 1px solid black;
  border-radius: 50px;
}

.value-title-div div {
  display: inline-block;
}

.value-section .img-div {
  margin-bottom: 5rem;
}

.value-section .img-div img {
  width: 100%;
}

.value-section > .buttons-div {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  margin-bottom: 2.35rem;
}

.value-section .buttons-div h3 {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  color: lightgray;
}

.value-section .buttons-div .active,
.full-value-section .buttons-div .active {
  color: black;
}

.value-section .para-div {
  margin-bottom: 2.125rem;
}

.value-section .para-div p {
  font-size: 1rem;
  line-height: 155%;
  word-spacing: 0.5px;
}

.value-button {
  display: flex;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 1rem;

  gap: 1.8rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 1rem;
    padding: 0.45rem 0.5rem 0.45rem 1.25rem;
    border-radius: 50px;
    gap: 1.75rem;
  }
}

.value-button #value-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.value-simple-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;

  @media (min-width: 768px) {
    border-bottom: 1.5px solid black;
    padding-bottom: 0.25rem;
    gap: 0;
  }
}

.value-simple-button #value-button-div {
  flex: 0 1 auto;
  width: auto;
}

.value-simple-button #value-button-div div {
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.value-simple-button #value-arrow {
  border: none;
  flex: 0 0 auto;
  width: 2rem;
  margin: 0;
  @media (min-width: 768px) {
    align-items: center;
    width: 1.5rem;
  }
}

.value-section .value-simple-button #value-arrow {
  display: flex;
  justify-content: flex-start;
  left: 0;
  border-radius: 0;
  background: transparent;
  height: 6%;
  width: 6%;

  @media (min-width: 768px) {
    height: 8%;
    width: 8%;
  }
}

.value-simple-button .value-button-div {
  display: flex;
}

.value-simple-button #value-arrow img {
  width: 80%;
  height: 80%;

  @media (min-width: 768px) {
    height: 70%;
    width: 70%;
  }
}

.value-simple-button:hover .arrow-raise {
  animation: raiseUp 0.3s forwards;
}

.value-simple-button:not(:hover) .arrow-raise {
  animation: lowerDown 0.3s forwards;
}

#value-arrow {
  background: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: start;

  @media (min-width: 768px) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

#value-arrow img {
  display: block;
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.value-button:hover .arrow-raise {
  animation: raiseUp 0.3s forwards;
}

.value-button:not(:hover) .arrow-raise {
  animation: lowerDown 0.3s forwards;
}

.full-value-section {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    margin: 0 auto;
    padding-bottom: 16rem;
  }
}

.full-value-section > * {
  flex: 1 1 50%;
  width: 50%;
}

.full-value-section .content-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
  padding-left: 6.5rem;
}

.full-value-section img {
  width: 100%;
}

.full-value-section .title-div .title div {
  display: inline;
  font-family: "Intertight";
  font-weight: 500;
  font-size: 0.75rem;
  border: 1px solid black;
  border-radius: 50px;
  padding: 0.45rem 0.825rem;
}

.full-value-section .title-div {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  margin-bottom: 14rem;
}

.full-value-section .buttons-div {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
}

.full-value-section .buttons-div h3 {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: lightgray;
}

.full-value-section .para-div {
  margin-bottom: 3rem;
  width: 80%;
}

.full-value-section .para-div p {
  font-size: 1.125rem;
  line-height: 155%;
}

.contact-us-section h2 {
  @media (min-width: 768px) {
    max-width: 55%;
  }
}
