.hero-section {
  display: block;
  background-color: white;
  justify-items: center;
  z-index: 2;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
    padding: 13rem 0 7rem 0;
  }
}

.hero-title-div {
  display: block;
  z-index: 3;
  padding: 7.5rem 0 5rem 0;

  @media (min-width: 768px) {
    padding: 0;
    width: 71%;
  }
}

.hero-header {
  font-size: 3rem;
  text-align: left;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 0.8rem;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.hero-paragraph {
  font-size: 1.125rem;
  letter-spacing: -0.2px;
  line-height: 1.5;
  padding-right: 1rem;
  z-index: 2;
  font-family: Intertight, sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.video-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: visible;
  overflow-x: visible;

  @media (max-width: 768px) {
    padding-top: 1rem;
    padding-bottom: 6rem;
  }
}

.hero-video {
  position: absolute;
  pointer-events: none;
  object-fit: cover;
  z-index: 1;
  width: 110%;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 165%;
    left: -28%;
  }
}

.summup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 13rem 0 14rem 0;

  @media (max-width: 768px) {
    margin: 8rem 0 5.5rem 0;
  }
}

.summup-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;

  @media (min-width: 768px) {
    width: 55%;
    padding: 0;
  }
}

.summup-h2 {
  color: black;
  font-size: 4rem;
  font-weight: 500;
  line-height: 118%;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.summup-h2 > span {
  font-size: 100%;
  font-family: "InterTight", sans-serif;
}

.summup-h2 > span > span {
  font-family: "PPNeueBit", sans-serif;
  font-size: 5.5rem;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 4.5rem;
  }
}

.uni-layer-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 6em;

  @media (min-width: 768px) {
    margin-bottom: 8rem;
  }
}

.uni-layer-background {
  width: 110%;
  overflow-x: hidden;

  @media (min-width: 768px) {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    z-index: 1;
    top: 2%;
    pointer-events: none;
  }
}

.uni-layer-title-div,
.uni-layer-div-main,
.uni-layer-button-div {
  position: relative;
  z-index: 1;
}

.uni-layer-title-div {
  display: block;
  justify-items: center;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 3.5rem;
  }
}

.uni-layer-title-div h2 {
  color: black;
  font-size: 2.25rem;
  padding-bottom: 1rem;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    padding-bottom: 1.25rem;
  }
}

.uni-layer-title-div p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(20, 20, 20);
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
    font-size: 1.125rem;
    max-width: 50%;
    line-height: 1.9rem;
    word-spacing: 1px;
  }
}

.uni-layer-div-main {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4rem;
  }
}

.uni-layer-content-div {
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background: white;

  @media (min-width: 768px) {
    padding: 9% 8%;
    border-radius: 20px;
  }
}

.uni-layer-content-div h3 {
  font-size: 1.25rem;
  margin-bottom: 1.15rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.uni-layer-content-div p {
  font-size: 1rem;
  line-height: 155%;
  color: rgb(30, 29, 29);
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

.uni-layer-button-div {
  display: flex;
  justify-content: center;
}

.uni-layer-button {
  display: flex;
  margin-left: auto;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  gap: 1.8rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1.25rem;
    gap: 2rem;
    padding-left: 1.5rem;
  }
}

.uni-layer-button:hover .arrow-raise {
  animation: raiseUp 0.3s forwards;
}

.uni-layer-button:not(:hover) .arrow-raise {
  animation: lowerDown 0.3s forwards;
}

.compliance-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;

  @media (max-width: 767px) {
    padding-bottom: 8rem;
  }
}

.compliance-title-div {
  justify-items: center;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 0.8;
  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }
}

.compliance-title-div h2 {
  font-size: 2.225rem;
  line-height: 120%;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    max-width: 60%;
  }
}

.compliance-data-div {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

.compliance-data-inner-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  @media (max-width: 767px) {
    width: 80%;
  }
}

.compliance-data-inner-div p {
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    margin-bottom: 0.45rem;
  }
}

.compliance-data-inner-div img {
  width: 100%;
  max-width: 35rem;
  max-height: 35rem;

  @media (min-width: 768px) {
    max-width: 40rem;
    max-height: 40rem;
  }
}

#compliance-margin {
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.use-cases-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.5rem;

  @media (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.use-cases-section h2 {
  margin-bottom: 0.9rem;
  font-size: 2.25rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.use-cases-content-div {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  text-align: left;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-bottom: 0.875rem;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin-bottom: 2rem;
  }
}

.use-cases-content-div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  margin: 1rem;

  @media (min-width: 768px) {
    width: 50%;
    margin: 1.5rem;
  }
}

.use-cases-content-div h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }
}

.use-cases-content-div p {
  font-size: 1rem;
  line-height: 155%;
  margin-bottom: 0.75rem;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 155%;
  }
}

.use-cases-content-div img {
  height: 12rem;
  width: auto;
  justify-content: center;
  margin: 0.5rem 0;

  @media (min-width: 768px) {
    height: 20rem;
    width: auto;
    margin: 1.5rem 3.5rem 1.5rem 0;
  }
}

#flip {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

#flip > img {
  height: 16rem;

  @media (min-width: 768px) {
    height: 20rem;
    margin-left: 3.75rem;
    margin-right: 5rem;
  }
}
