@font-face {
  font-family: "InterTight";
  src: url("/media/fonts/InterTight-Regular.woff2");
}
@font-face {
  font-family: "InterTight-Medium";
  src: url("/media/fonts/InterTight-Medium.woff2");
}
@font-face {
  font-family: "PPNeueBit";
  src: url("/media/fonts/PPNeueBit-Bold.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "InterTight-Medium", sans-serif;
}

p {
  font-size: 1rem;
  font-family: "InterTight", sans-serif;
}

.max-width-container {
  width: 100%;
  max-width: 136.8rem;
  margin: 0 auto;
}
